/* styles for multiLine (default 2) line '...' */
.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.detail-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  padding: 5px 10px;
}
.detail-title > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}
.detail-title.message {
  width: 480px;
  min-width: 480px;
  box-sizing: border-box;
}
.detail-title.order {
  width: 600px;
  min-width: 600px;
  box-sizing: border-box;
}
.detail-label {
  font-size: 16px;
  color: #797979;
  margin-right: 10px;
}
.message-info-item {
  width: 480px;
  min-width: 480px;
  box-sizing: border-box;
  padding: 5px 10px;
}
.message-info-item .title-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 100%;
}
.message-info-item .line {
  height: 1px;
  background-color: #E6E6E6;
  margin: 5px 0;
}
.message-info-item .message-content {
  color: #999;
  font-size: 12px;
}
.detail-title-txt {
  -ms-flex: 1;
      flex: 1;
  color: #333;
  font-size: 14px;
}
.detail-time-txt {
  color: #999;
  font-size: 14px;
  margin-left: 10px;
}
.sender-info-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  color: #999;
  font-size: 14px;
  margin: 5px 0 10px 0;
}
.sender-info-item .company-txt {
  -ms-flex: 1;
      flex: 1;
}
.member-relatives {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  color: #189acf;
  font-size: 12px;
}
.member-relatives > div {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
}
.member-relatives button {
  display: inline-block;
  border: none;
  background-color: transparent;
  outline: none;
}
.order-info-item {
  width: 600px;
  min-width: 600px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.order-source {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 12px;
  color: #999;
}
.select-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  color: #999;
  font-size: 12px;
}
.select-actions > div {
  margin-right: 10px;
}
.tax-radios {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 100px;
}
.total-price-txt {
  color: #0b24fb;
  font-size: 14px;
}
.btn-change-discount {
  margin: 0;
  padding: 2px;
  outline: none;
  border: 1px solid #E6E6E6;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
}
.comment-area {
  margin-top: 50px;
  height: 380px;
  border: 1px solid #E6E6E6;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}
.comment-tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  border-bottom: 1px solid #E6E6E6;
}
.comment-tab {
  display: inline-block;
  border: none;
  background-color: transparent;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.comment-tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #333;
}
.comment-input {
  margin: 5px 15px;
  height: 100px;
  background-color: #f0f8fa;
  padding: 0 10px;
  position: relative;
}
.comment-input .actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.comment-input .send {
  background-color: #34a6ce;
  border: none;
  height: 20px;
  width: 80px;
  border-radius: 4px;
  color: #FFF;
  font-size: 12px;
}
.comment-list {
  padding: 10px 5px;
  border-bottom: 1px solid #E6E6E6;
  overflow-y: scroll;
}
.comment-item:not(:last-child) {
  margin-bottom: 10px;
}
.comment-info {
  -ms-flex-pack: start;
      justify-content: flex-start;
  font-size: 14px;
  color: #999;
}
.comment-company {
  margin-right: 10px;
  max-width: 260px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comment-content {
  font-size: 14px;
  color: #4A4A4A;
}
.comment-item.activities {
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.activities > p {
  font-size: 14px;
  color: #999;
  width: 180px;
  min-width: 180px;
}
.activities-list {
  font-size: 14px;
  color: #4A4A4A;
}
.activity-item > div {
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}
.activity-item .sender-info {
  color: #999;
}
.activity-item .sender-info > p:not(:last-child) {
  margin-right: 5px;
}
.goods-table {
  width: 100%;
  margin: 5px 0;
}
.goods-table th,
.goods-table td {
  padding: 0 5px !important;
}
