@import "varible";

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.detail-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  padding: 5px 10px;

  >div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.detail-title.message {
  width: 480px;
  min-width: 480px;
  box-sizing: border-box;
}

.detail-title.order {
  width: 600px;
  min-width: 600px;
  box-sizing: border-box;
}

.detail-label {
  font-size: 16px;
  color: #797979;
  margin-right: 10px;
}

.message-info-item {
  width: 480px;
  min-width: 480px;
  box-sizing: border-box;
  padding: 5px 10px;

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  .line {
    height: 1px;
    background-color: #E6E6E6;
    margin: 5px 0;
  }
  .message-content {
    color: #999;
    font-size: 12px;
  }
}

.detail-title-txt {
  flex: 1;
  color: #333;
  font-size: 14px;
  //.text-ellipsis; //mixin
}

.detail-time-txt {
  color: #999;
  font-size: 14px;
  margin-left: 10px;
}

.sender-info-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #999;
  font-size: 14px;
  margin: 5px 0 10px 0;

  .company-txt {
    flex: 1;
  }
}

.member-relatives {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #189acf;
  font-size: 12px;

  >div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  button {
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
  }
}

.order-info-item {
  width: 600px;
  min-width: 600px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.order-source {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #999;
}

.select-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #999;
  font-size: 12px;

  > div {
    margin-right: 10px;
  }
}

.tax-radios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
  margin-bottom: 10px;
}

.total-price-txt {
  color: #0b24fb;
  font-size: 14px;
}

.btn-change-discount {
  margin: 0;
  padding: 2px;
  outline: none;
  border: 1px solid #E6E6E6;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
}


.comment-area {
  margin-top: 20px;
  width: 100%;
  //height: 380px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.comment-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #E6E6E6;
  padding-left: 20px;
}

.comment-tab {
  display: inline-block;
  border: none;
  background-color: transparent;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
  color: #8a959e;
  margin-right: 10px;

  &:hover {
    border-bottom: 2px solid rgba(216, 76, 49, .4);
    color: #333;
  }
  &.active {
    border-bottom: 2px solid #D84C31;
    color: #333;
  }
}

.comment-input {
  margin: 20px 15px;
  background-color: #f8f6f2;
  padding: 0 10px 10px 10px;
  position: relative;

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .send {
    background-color: #54d09f;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    color: #FFF;
    font-size: 12px;

    &:hover {
      background-color: #4cae4c;
    }
  }
}

.comment-list {
  box-sizing: border-box;
  padding: 10px 15px;
  width: 100%;
}

.comment-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.comment-info {
  justify-content: flex-start;
  font-size: 14px;
  color: #999;
}

.comment-company {
  margin-right: 10px;
  max-width: 260px;
  .text-ellipsis;
}

.comment-content {
  font-size: 14px;
  color: #4A4A4A;
}

.comment-item.activities {
  align-items: flex-start;
  justify-content: flex-start;
}

.activities > p {
  font-size: 14px;
  color: #999;
  width: 160px;
  min-width: 160px;
}

.activities-list {
  font-size: 14px;
  color: #4A4A4A;
}

.activity-item {
  > div {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .sender-info {
    color: #999;
    >p:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.goods-table {
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  margin: 5px 0;

  th, td {
    padding: 0 5px !important;
  }
}

.btn-add-goods {
  border: none;
  outline: none;
  background-color: transparent;
}

.edit-form {
  .edit-field {
    margin-right: 20px;
  }
}