@import "varible";

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.detail-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  padding: 5px 10px;

  >div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.detail-title.message {
  width: 480px;
  min-width: 480px;
  box-sizing: border-box;
}

.detail-title.order {
  width: 600px;
  min-width: 600px;
  box-sizing: border-box;
}

.detail-label {
  font-size: 16px;
  color: #797979;
  margin-right: 10px;
}

.message-info-item {
  width: 480px;
  min-width: 480px;
  box-sizing: border-box;
  padding: 5px 10px;

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  .line {
    height: 1px;
    background-color: #E6E6E6;
    margin: 5px 0;
  }
  .message-content {
    color: #999;
    font-size: 12px;
  }
}

.detail-title-txt {
  flex: 1;
  color: #333;
  font-size: 14px;
  //.text-ellipsis; //mixin
}

.detail-time-txt {
  color: #999;
  font-size: 14px;
  margin-left: 10px;
}

.sender-info-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #999;
  font-size: 14px;
  margin: 5px 0;

  .company-txt {
    flex: 1;
  }
}

.member-relatives {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #189acf;
  font-size: 12px;

  >div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  button {
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
  }
}

.order-info-item {
  width: 600px;
  min-width: 600px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.order-source {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #999;
}

.select-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #999;
  font-size: 12px;

  > div {
    margin-right: 10px;
  }
}

.tax-radios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
}

.total-price-txt {
  color: #0b24fb;
  font-size: 14px;
}

.btn-change-discount {
  margin: 0;
  padding: 2px;
  outline: none;
  border: 1px solid #E6E6E6;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
}


.comment-area {
  margin-top: 50px;
  height: 380px;
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.comment-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #E6E6E6;
}

.comment-tab {
  display: inline-block;
  border: none;
  background-color: transparent;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;

  &:hover {
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 2px solid #333;
  }
}

.comment-input {
  margin: 5px 15px;
  height: 100px;
  background-color: #f0f8fa;
  padding: 0 10px;
  position: relative;

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .send {
    background-color: #34a6ce;
    border: none;
    height: 20px;
    width: 80px;
    border-radius: 4px;
    color: #FFF;
    font-size: 12px;
  }
}
