.layout-login,
.register-view,
.add-merchant {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #f3f4f8;
  box-sizing: border-box;
}
.layout-login a,
.register-view a,
.add-merchant a {
  text-decoration: none;
}
.layout-login .card,
.register-view .card,
.add-merchant .card {
  width: 500px;
  min-height: 360px;
  background-color: #FFF;
  border-radius: 4px;
  margin: 0 20px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.layout-login .title,
.register-view .title,
.add-merchant .title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
}
.layout-login .title-txt,
.register-view .title-txt,
.add-merchant .title-txt {
  margin-left: 10px;
  font-size: 28px;
  letter-spacing: 5px;
  color: #000;
}
.layout-login h4,
.register-view h4,
.add-merchant h4 {
  color: #4A4A4A;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}
.layout-login .form-login,
.register-view .form-login,
.add-merchant .form-login {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.layout-login .login-input,
.register-view .login-input,
.add-merchant .login-input {
  width: 30%;
  margin-bottom: 20px;
}
.layout-login .actions,
.register-view .actions,
.add-merchant .actions {
  margin-top: 25px;
  border-top: 1px solid #E6E6E6;
  width: 256px;
  text-align: right;
  padding-top: 10px;
}
.btn-login {
  width: 256px;
}
.link-register {
  text-align: right;
  font-size: 13px;
  color: #6f6e6b;
}
.link-register:hover {
  color: #da4f4a;
}
.add-merchant {
  width: 100%;
  background-color: #F8F6F2;
  padding-top: 30px;
}
.add-merchant .card-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
}
.add-merchant .card-title h4 {
  box-shadow: none;
}
.add-merchant .card {
  width: 580px;
  margin-bottom: 30px;
}
.add-merchant .link-back {
  color: #6f6e6b;
  font-size: 14px;
}
.add-merchant .link-back:hover {
  color: #da4f4a;
}
.add-merchant .form-register {
  padding: 0 10px 10px 10px;
}
.add-merchant .login-input:nth-child(odd) {
  margin-right: 40px;
}
.add-merchant .title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
}
.add-merchant .title-txt {
  margin-left: 10px;
  font-size: 28px;
  letter-spacing: 5px;
}
.add-merchant .actions-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
