@import "iconfont/material-icons.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
body,
html {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#root {
  width: 100%;
  height: 100%;
}
#root > div {
  width: 100%;
  height: 100%;
}
#root .layout {
  width: 100%;
  height: 100%;
}
div,
p {
  margin: 0;
  padding: 0;
}
.layout-login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #f3f4f8;
  box-sizing: border-box;
}
.layout-login a {
  color: inherit;
  text-decoration: none;
}
.layout-login .card {
  width: 500px;
  height: 360px;
  background-color: #FFF;
  border-radius: 4px;
  margin: 0 20px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.layout-login .title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
}
.layout-login .title-txt {
  margin-left: 10px;
  font-size: 28px;
  letter-spacing: 5px;
}
.layout-login h4 {
  color: #4A4A4A;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}
.layout-login .form-login {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.layout-login .login-input {
  margin-bottom: 20px;
}
.btn-login {
  width: 256px;
}
/* styles for multiLine (default 2) line '...' */
.dashboard {
  outline: 1px solid red;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}
.dashboard a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}
a {
  padding: 0;
  margin: 0;
}
.board-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4bbcb7;
}
.board-nav a {
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.board-nav .icon-button {
  display: block;
  margin: 0;
  width: 60px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  color: #a1fffb;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}
.board-nav .icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.board-nav .btn-link {
  display: block;
  font-size: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  position: relative;
}
.board-nav .btn-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.board-nav .btn-link .display-name {
  display: inline-block;
  width: 44px;
  height: 44px;
  color: #FFF;
  font-size: 14px;
  line-height: 44px;
  border-radius: 22px;
  background-color: #8475cf;
  position: relative;
  top: 8px;
}
.work-panel {
  -ms-flex: 1;
      flex: 1;
  overflow: hidden;
}
.panel-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  background-color: #3F51B5;
  color: #FFF;
}
.panel-nav .title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  width: 110px;
  min-width: 110px;
  height: 50px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: 20px;
}
.panel-nav .tab-container {
  -ms-flex: 1;
      flex: 1;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0 10px;
}
.panel-nav .tab {
  display: inline-block;
  width: 60px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}
.panel-nav .tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #FFF;
}
.panel-nav .active {
  border-bottom: 3px solid #FFF;
}
.main-board {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: relative;
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  height: 100%;
  min-width: 780px;
}
.board-layout {
  -ms-flex: 1;
      flex: 1;
  min-width: 280px;
  background-color: #E4E4E4;
  padding: 5px 10px 20px 10px;
  box-sizing: border-box;
  margin-right: 10px;
  max-height: 90%;
  overflow-y: auto;
}
.message-box {
  box-sizing: border-box;
  position: relative;
}
.message-box .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  min-width: 260px;
}
.message-box .title {
  color: #797979;
  font-size: 14px;
}
.message-item {
  width: 100%;
  min-width: 260px;
  height: auto;
  background-color: #FFF;
  border-radius: 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  box-sizing: border-box;
  padding: 10px 5px;
  position: relative;
  cursor: pointer;
}
.message-item .message-content {
  font-size: 12px;
  color: #4A4A4A;
  overflow: hidden;
  position: relative;
  line-height: 16px;
  max-height: 32px;
  text-align: justify;
  margin-right: -12px;
  padding-right: 12px;
}
.message-item .message-content:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.message-item .message-content:after {
  content: '';
  position: absolute;
  right: 0;
  width: 12px;
  height: 12px;
  margin-top: 4px;
  background: white;
}
.message-item input[type="checkbox"] {
  margin: 0;
  padding: 0;
  position: relative;
  top: 5px;
}
.message-title {
  font-size: 14px;
  color: #4A4A4A;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message-detail {
  -ms-flex: 1;
      flex: 1;
  box-sizing: border-box;
  overflow: hidden;
  padding-right: 10px;
}
.message-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 10px;
  margin-top: 10px;
}
.message-bottom .tag {
  display: inline-block;
  width: 46px;
  height: 16px;
  border-radius: 4px;
  line-height: 16px;
  vertical-align: middle;
  text-align: center;
}
.message-bottom .tag:not(:last-child) {
  margin-right: 5px;
}
.message-bottom .source {
  width: 100px;
  text-align: right;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.styled-select {
  height: 20px;
  overflow: hidden;
  width: 100px;
  color: #797979;
}
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 20px;
  padding: 5px;
  width: 100px;
}
.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 14px;
  height: 20px;
  width: 100px;
}
.slate {
  background-color: #ddd;
}
.slate select {
  color: #000;
}
.procurement-board {
  margin: 5px 20px;
  height: 90%;
  overflow-y: scroll;
  background-color: #E4E4E4;
  box-sizing: border-box;
  padding: 5px;
}
.procurement-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px;
}
.procurement-header .title {
  color: #797979;
  font-size: 14px;
  margin-right: 20px;
}
.header-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  min-width: 290px;
}
.header-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}
.procurement-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.btn-actions {
  position: relative;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 80px;
  height: 20px;
  font-size: 12px;
  color: #797979;
  padding: 0 5px;
  border-radius: 4px;
  border: 1px solid #797979;
}
.trangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid #797979;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.follow-actions {
  position: absolute;
  right: -10px;
  top: 20px;
  width: 100px;
  height: 0;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}
.follow-actions .btn-action {
  width: 100%;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: #797979;
}
.follow-actions .btn-action:hover {
  background-color: #4296fa;
  color: #FFF;
}
.btn-actions:hover .trangle {
  border-left: 4px solid transparent;
  border-bottom: 4px solid #797979;
  border-right: 4px solid transparent;
  border-top: 0;
}
.btn-actions:hover .follow-actions {
  height: auto;
  opacity: 1;
  overflow: visible;
  padding: 5px 0;
  border: 1px solid rgba(153, 153, 153, 0.6);
  box-shadow: 2px 4px 5px rgba(153, 153, 153, 0.5);
}
.calendar-container {
  width: 90%;
  height: 90%;
  min-width: 800px;
  margin: 10px auto 0 auto;
}
.detail-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  padding: 5px 10px;
}
.detail-title > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}
.detail-title.message {
  width: 480px;
  min-width: 480px;
  box-sizing: border-box;
}
.detail-label {
  font-size: 16px;
  color: #797979;
  margin-right: 10px;
}
.message-info-item {
  width: 480px;
  min-width: 480px;
  box-sizing: border-box;
  padding: 5px 10px;
}
.message-info-item .title-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 100%;
}
.message-info-item .line {
  height: 1px;
  background-color: #E6E6E6;
  margin: 5px 0;
}
.message-info-item .message-content {
  color: #999;
  font-size: 12px;
}
.detail-title-txt {
  -ms-flex: 1;
      flex: 1;
  color: #333;
  font-size: 14px;
}
.detail-time-txt {
  color: #999;
  font-size: 14px;
  margin-left: 10px;
}
.sender-info-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  color: #999;
  font-size: 14px;
  margin: 5px 0;
}
.sender-info-item .company-txt {
  -ms-flex: 1;
      flex: 1;
}
.message-relatives {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  color: #189acf;
  font-size: 12px;
}
.message-relatives > div {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
}
.message-relatives button {
  display: inline-block;
  border: none;
  background-color: transparent;
  outline: none;
}
