@import "~normalize-css/normalize.css";
@import "iconfont/material-icons.css";
@import "./styles/index";

body {
  margin: 0;
  padding: 0;
  font-family: HanHei SC,PingFang SC,Helvetica Neue,Helvetica,Microsoft Yahei,Arial,sans-serif;
}

p {
  margin: 0;
  padding: 0;
}